@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: 'Permanent Marker';
  background-color: rgb(160, 160, 160);
  background-attachment: fixed;
  text-align: center;
  color: rgb(255, 255, 255);
}

button{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
  padding: 1rem;
  margin: 1rem;
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 5px;
  font-size:1rem;
  text-transform: uppercase;
}

.score{
  font-size: 2rem;
}